html, body {
    background-color: #EDF4F2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
 display: flex;
 flex-direction: column;
 background-color: darkgrey;
 padding: 10px;
 width: fit-content; /* Automatically adjusts to the width of its children */
 border-radius: 3%;
}

.blocks {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    border-radius: 5px;
    height: 30px;

}