html,
body {
  background-color: #d8d7d1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.container {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  background-color: #6c6c6c;
  padding: 7px;
  width: fit-content;
  border-radius: 3%;
  max-width: 900px;
  max-height: 800px;
  overflow: auto;
}

.blocks {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  height: 23px;
}

.box {
  width: 23px;
  height: 23px;
  background-color: rgb(202, 201, 201);
  border: 1px solid whitesmoke;
}

#img {
  display: flex;
  width: 100px;
  height: auto;
  padding: 0;
}

.menu {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px;
}

.menu button {
  font-size: 13px;
  font-weight: bold;
}

.radioButtons {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.firstMenu {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.secondMenu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#alertMessage {
  display: inline-block;
  font-size: smaller;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  color: red;
  width: 200px;
}

button {
  border-radius: 5%;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}
